body {
  margin: 0;
  height: 100%;
}

.content {
  height: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  /* gap: 30px; */
  /* justify-content: space-around; */
  flex-wrap: nowrap;
  /* padding-left: 2vw; */
  overflow-x: auto;
}
